/* Variables para usar en el CSS */
$background-color-dark: #151515;
$background-color-white: #FFFFFF;
$text-color-white: #FFFFFF;
$text-color-black: #000000;
$text-color-one : #004965;
$shadow-color-one: #070707;
$link-text-color: #838f8c;
$background-color-ilumine: #C5C5C5;
$background-color-ilumine-dark: #000000;
$background-color-scrollbar: #969696;
$background-color-section: #F5F5F5;

