<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Tenemos los mejores precios en Blockgamer. Adquiera uno de nuestros planes, y sea parte de toda experiencia que podemos ofrecerle a sus usuarios y su organización.">
    <meta name="keywords"
        content="blockchain, videojuegos, blockgamer, seguridad en tus videojuegos, transacciones seguras">
    <meta name="author" content="Los programadores de Blockgamer">
    <meta name="copyright" content="Propiedad de Blockgamer">
    <meta name="robots" content="index, follow">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="30000">
    <title>Los mejores precios de la plataforma Blockgamer.io</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css" type="text/css">
</head>

<body>
    <header class="container-fluid p-fixed m-0 p-0 sticky-md-top">
        <!--Cabecera principal de la página Blockgamer-->
        <nav class="navbar navbar-expand-md navbar-dark shadow-one bg-dark-one">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img src="../img/logo.png" alt="Logo de Blockgamer" class="d-inline-block align-text-center">
                    <span class="fs-3 fw-bold text-animation">Blockgamer.io</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse nav justify-content-md-end" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-pills nav-fills ml-auto navlist-nav">
                        <!-- <li class="nav-item header-nav-item text-md-center dropdown">
                            <a class="nav-link text-light dropdown-toggle" aria-current="page" href="#"
                                id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Inicio
                            </a>
                            <ul class="dropdown-menu bg-dark-one" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item text-light" href="#">Nosotros</a></li>
                                <li><a class="dropdown-item text-light" href="#">Blog</a></li>
                                <li><a class="dropdown-item text-light" href="#">Documentación</a></li>
                            </ul>
                        </li> -->
                        <li class="nav-item text-md-center"><a class="nav-link link-color"
                                href="../index.html">Inicio</a></li>
                        <li class="nav-item text-md-center"><a class="nav-link link-color"
                                href="./services.html">Servicios</a></li>
                        <li class="nav-item text-md-center"><a class="nav-link link-color"
                                href="./industries.html">Industrias</a></li>
                        <li class="nav-item text-md-center"><a class="nav-link link-color"
                                href="./prices.html">Precios</a></li>
                        <li class="nav-item text-md-center"><a class="nav-link link-color"
                                href="./contact.html">Contactos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--Final de cabecera principal-->
    <main>
        <section class="presentation text-dark col-md-8">
            <h2 class="presentation__title p-md-5 pb-md-2 fw-bold fs-1">Tu plataforma de seguridad y control de activos digitales con tecnología
                Blockchain</h2>
            <p class="presentation_description px-md-5 pt-md-2 fs-4">Obtén en control y la confiabilidad de proteger y resguardar tus activos
                digitales mediante la tecnología que está gobernando el mercado.</p>
            <button type="button" class="mx-md-5 btn-contact border-0"><span>Contáctenos</span></button>
        </section>
        <section class="prices-services">
            <div class="standard-service">
                <h3 class="standard-service__title">STANDARD</h3>
                <p class="standard-service__description standard-service_description--size-sm">Para empresas de 500
                    usuarios<br>Mínimo 100 usuarios</p>
                <p class="standard-service__description standard-service_description--size-lg">$99 /per mon</p>
                <button type="button" class=""><span>Obtén Standard</span></button>
            </div>
            <div>
                <h3 class="professional-service__title">PROFESSIONAL</h3>
                <p class="professional-service__description professional-service_description--size-sm">Para empresas de
                    1000 usuarios<br>Mínimo 100 usuarios</p>
                <p class="professionalservice__description professional-service_description--size-lg">$159 /per mon</p>
                <button><span>Obtén Professional</span></button>
            </div>
            <div>
                <h3 class="enterprise-service__title">ENTERPRISE</h3>
                <p class="enterprise-service__description enterprise-service_description--size-sm">Para empresas de más
                    de 1000 usuarios<br>Contáctenos</p>
                <p class="enterprise-service__description enterprise-service_description--size-lg">$399 /per mon</p>
                <button><span>Obtén Enterprise</span></button>
            </div>
        </section>
        <section class="prices-beneficies">
            <div class="prices-beneficies__details">
                <p>Análisis de transacciones realizadas</p>
                <p>Protección de activos digitales de usuarios</p>
                <p>Plataforma web de información de activos digitales</p>
                <p>Mobile App Builder</p>
                <p>Opciones de implementación con otras tecnologías</p>
            </div>
            <div class="prices-beneficies__item">
                <h3>STANDARD</h3>
                <h3>PROFESSIONAL</h3>
                <h3>ENTERPRISE</h3>
            </div>
        </section>
        <section class="description-services bg-dark-one text-center text-white">
            <h2 class="description-services__title p-md-5 pb-md-2 fw-bold fs-1">Vive la experencia de usar la mejor tecnología Blockhain en el mundo
                de los videojuegos y brindarte la confiabilidad que necesitan tus usuarios</h2>
            <p class="description-services__text p-md-5 py-md-2 fs-4 fw-lighter">Nuestros precios están sujetos a nuestros términos y condiciones de
                Blockgamer</p>
            <p class="description-services__text description-services__text--size-sm p-md-5 pt-md-2 pb-md-5 fs-5 fw-lighter">Idiomas soportados: Español,
                Inglés, Portugués, Francés, Chino, Japonés</p>
        </section>
    </main>
    <footer class="grid text-center" style="--bs-gap: 0rem; --bs-rows: 2;">
        <!--Pie de la página principal-->
        <div class="d-md-flex">
            <div id="f-empresa" class="p-md-3 flex-fill">
                <!--Empresa-->
                <h3>Empresa</h3>
                <nav class="nav-footer">
                    <ul class="list-unstyled">
                        <li class="fs-5 p-md-2"><a class="text-decoration-none text-dark" href="#"><span
                                    class="text-change-color">Acerca de nosotros</span></a></li>
                        <li class="fs-5 p-md-2"><a class="text-decoration-none text-dark" href="#"><span
                                    class="text-change-color">Clientes</span></a></li>
                        <li class="fs-5 p-md-2"><a class="text-decoration-none text-dark" href="#"><span
                                    class="text-change-color">Trabaja con nosotros</span></a></li>
                        <li class="fs-5 p-md-2"><a class="text-decoration-none text-dark" href="#"><span
                                    class="text-change-color">Socios</span></a></li>
                    </ul>
                </nav>
            </div>
            <div id="f-recursos" class="p-5 pt-3 pb-3 flex-fill">
                <!--Recursos-->
                <h3>Recursos</h3>
                <nav class="nav-footer">
                    <ul class="list-unstyled">
                        <li class="fs-5 p-md-2"><a class="text-decoration-none text-dark" href="#"><span
                                    class="text-change-color">Blog</span></a></li>
                        <li class="fs-5 p-md-2"><a class="text-decoration-none text-dark" href="#"><span
                                    class="text-change-color">Documentación</span></a></li>
                        <li class="fs-5 p-md-2"><a class="text-decoration-none text-dark" href="#"><span
                                    class="text-change-color">Novedades</span></a></li>
                        <li class="fs-5 p-md-2"><a class="text-decoration-none text-dark" href="#"><span
                                    class="text-change-color">Ver una demostración</span></a></li>
                    </ul>
                </nav>
            </div>
            <div id="f-legales" class=" p-5 pt-3 pb-3 flex-fill">
                <!--Términos Legales-->
                <h3>Legales</h3>
                <nav class="nav-footer">
                    <ul class="list-unstyled">
                        <li class="fs-5 p-md-2"><a class="text-decoration-none text-dark" href="#"><span
                                    class="text-change-color">Política de privacidad</span></a></li>
                        <li class="fs-5 p-md-2"><a class="text-decoration-none text-dark" href="#"><span
                                    class="text-change-color">Términos de servicio</span></a></li>
                        <li class="fs-5 p-md-2"><a class="text-decoration-none text-dark" href="#"><span
                                    class="text-change-color">Acuerdos de la empresa</span></a></li>
                    </ul>
                </nav>
            </div>
            <div id="f-accesos" class="p-5 pt-3 pb-3 flex-fill">
                <!--Accesos de usuario-->
                <h3>Accesos</h3>
                <nav class="nav-footer">
                    <ul class="list-unstyled">
                        <li class="fs-5 p-md-2"><a class="text-decoration-none text-dark" href="#"><span
                                    class="text-change-color">Iniciar sesión</span></a></li>
                        <li class="fs-5 p-md-2"><a class="text-decoration-none text-dark" href="#"><span
                                    class="text-change-color">Registrarse</span></a></li>
                    </ul>
                </nav>
            </div>
            <div id="redes-sociales" class="p-5 pt-3 pb-3 flex-fill">
                <!--Redes sociales-->
                <h3>Redes Sociales</h3>
                <nav class="nav-footer">
                    <ul class="list-unstyled">
                        <div class="container-fluid d-flex align-items-center ps-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                class="bi bi-facebook" viewBox="0 0 16 16">
                                <path
                                    d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                            </svg>
                            <li class="fs-5 p-md-2"><a class="text-decoration-none text-dark" href="#"><img src=""
                                        alt=""><span class="text-change-color">/blockgamer.io</span></a></li>
                        </div>
                        <div class="container-fluid d-flex align-items-center ps-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                class="bi bi-linkedin" viewBox="0 0 16 16">
                                <path
                                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                            </svg>
                            <li class="fs-5 p-md-2"><a class="text-decoration-none text-dark" href="#"><img src=""
                                        alt=""><span class="text-change-color">/blockgamer.io</span></a></li>
                        </div>
                        <div class="container-fluid d-flex align-items-center ps-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                class="bi bi-twitter" viewBox="0 0 16 16">
                                <path
                                    d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
                            </svg>
                            <li class="fs-5 p-md-2"><a class="text-decoration-none text-dark" href="#"><img src=""
                                        alt=""><span class="text-change-color">/blockgamer.io</span></a></li>
                        </div>
                        <div class="container-fluid d-flex align-items-center ps-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                <path
                                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                            </svg>
                            <li class="fs-5 p-md-2"><a class="text-decoration-none text-dark" href="#"><img src=""
                                        alt=""><span class="text-change-color">ask_user@blockgamer.io</span></a></li>
                        </div>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="bg-dark-one text-white p-3 pb-1 d-flex justify-content-center" style="grid-row: 2;">
            <p class="fs-5 fw-bold text-center">Todos los derechos reservados &copy; 2020 - 2021 Blockgamer, Inc </p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>