
.btn-contact {
    font-weight: 500;
    border-radius: 0.6rem;
    height: 3rem;
    margin: 1rem;
    margin-bottom: 3rem;
    cursor: pointer;
    font-size: 1.15rem;
    background-color: $background-color-dark;
    color: $text-color-white;
    width: 11rem;
    transition: 0.8s;
}

.btn-contact:hover {
    background-color: $text-color-one;
    transition: all 0.8s;
}

.card-style {
    max-height: 4rem !important;
    border-radius: 0.625rem;
    .card-body-style {
        padding: 0.5rem 1.1rem !important;
        .text-card {
            font-weight: 500 !important;
            font-size: 1.35rem !important;
        }
    }
}

.bg-secondary {
    --bs-bg-opacity: 0.08;
    background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}

.ion-md-add-circle {
    font-size: 1.75rem !important;
}
